// Fonts
$primary-font: Arial, Helvetica, sans-serif;
$secondary-font: "Syne", sans-serif;
// Color
$primary-color: #0024FF;
$primary-white:#FFFFFF;
$text-color: #1A1A1A;
$primary-grey:#E8E8E8;
$primary-red:#FF0000;
$bg-grey:#F8F8F9;
$bg-primary-light:#E6E9FF;
// Container and Grid Spacing
$container-width: 1170px;
$grid-space: 15px;

// path
$images-path: "../images" !default;

// fonts

$fonts-path: "../fonts" !default;


